.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.input {
  width: 200px;
  height: 30px;
  padding: 15px;
  color: #0d6e6e;
  font-size: 15px;
  vertical-align: middle;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 300px;
    height: 40px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .input {
    width: 400px;
    height: 50px;
    font-size: 25px;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 100px;
}

.search-form__text {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .search-form__text {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form__text {
    font-size: 20px;
  }
}

.response {
  font-size: 10px;
  color: grey;
}

@media screen and (min-width: 768px) {
  .response {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .response {
    font-size: 20px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.photo-card {
  position: relative;
  width: 40%;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-box-shadow: 0px 8px 30px rgba(60, 217, 223, 0.2);
          box-shadow: 0px 8px 30px rgba(60, 217, 223, 0.2);
}

@media screen and (min-width: 768px) {
  .photo-card {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .photo-card {
    width: 30%;
  }
}

.photo-card__img {
  width: 100%;
  cursor: pointer;
}

.stats {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: rgba(174, 226, 209, 0.7);
  text-shadow: 0px 2px 2px rgba(46, 46, 46, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-item,
.material-icons {
  display: none;
}

@media screen and (min-width: 1280px) {
  .stats-item,
  .material-icons {
    display: inline-block;
    vertical-align: middle;
  }
}

* {
  margin: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

*:focus {
  border-color: transparent;
}

.btn {
  position: fixed;
  bottom: 0%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0px;
  margin-left: 0;
  z-index: 5;
  display: block;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  height: 30px;
  border-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

.btn:hover {
  background: grey;
  color: #fff;
  outline: 2px solid transparent;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 14px;
    width: 120px;
    height: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .btn {
    font-size: 16px;
    width: 140px;
    height: 40px;
  }
}

.btn.btn-service.is-hidden {
  display: none;
}

.btn.btn-service > .spinner-grow.is-hidden {
  display: none;
}

/* Button TO-GO-UP */
#back-top {
  position: fixed;
  bottom: 0%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0px;
  margin-left: 0;
  z-index: 5;
}

#back-top a {
  display: block;
  text-decoration: none;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.4);
  color: white;
  font-size: 12px;
  font-weight: 700;
  width: 40px;
  height: 30px;
  border-radius: 12px;
  border: none;
  outline: 2px solid transparent;
}

@media screen and (min-width: 768px) {
  #back-top a {
    font-size: 14px;
    width: 50px;
    height: 35px;
  }
}

@media screen and (min-width: 1280px) {
  #back-top a {
    font-size: 16px;
    width: 60px;
    height: 40px;
  }
}

#back-top a:hover {
  background: grey;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #fff;
}

.submitBtn {
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  height: 30px;
  border-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .submitBtn {
    font-size: 16px;
    width: 120px;
    height: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .submitBtn {
    font-size: 16px;
    width: 140px;
    height: 40px;
  }
}
/*# sourceMappingURL=main.css.map */